

*{
    padding:0;
    margin:0;

}
body {
    background-color: rgb(182, 186, 194);
  }
  h1 {
    font-family: impact;
    color:  rgb(52, 4, 65);
    text-align: center;
    font-weight: 50;
  }

  h2 {
    font-family: impact;
    color:  rgb(52, 4, 65);
    text-align: center;
    font-weight: 50;   
  }
  p {
    font: "Courier New";
    color:rgb(80, 10, 80);
    float: right;
  }

  nav {
    width: 100%;
    height: 50px;
    background-color: rgb(250, 230, 203);
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
  }

  iframe{
    float: left;
}

table {
    box-align: center;
    width:340;
    height:255;
}
img {
    width: 150px;
    height: 150px;
}

aside{
    font: small-caption;
    font-family:sans-serif;
    font-weight: 100;
}



  .wrapper {
      margin: 0 auto;
      width: 1000px;
      padding:20px;
  }

  .box1 {
    margin: 0 auto;
    width: 800px;
    padding:20px;
    align:center;
  }



   /* Style all font icons */
  .fa {
    padding: 10px;
    font-size: 5px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 45%;

  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  } 

/*LinkedIN*/
.fa-linkedin {
  background: #007bb5;
  color: white;
}


.footer {
    width: 100%;
    background-color: rgb(221, 221, 208);
    color: rgb(24, 22, 22);
    text-align: center;
    padding: 20px 20px;
    
 }
 .adress {
    font:garamond;
    padding: 20px;
    font-size: 15px;
    width: 50px;
    text-align: left;
    text-decoration: none;
  }
